/* :root {
  --color-one: #666ca3;
  --color-two: #13183f;
} */

.card-post {
  display: grid;
  grid-template-areas:
    "header header"
    "menu   content"
    "footer footer";
  grid-template-columns: 12rem 1fr;
  grid-template-rows: 5rem 1fr 3rem;
}

.card {
  position: absolute;
  right: 95px;
  top: 90px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 446px;
  height: 625px;
  background-color: var(--color-one);
  border-radius: rounded;
  padding: 54px;
}

.courses-section {
  background: linear-gradient(180deg, #fff 0%, #f0f1ff 100%);
}

.block-body {
  display: flex;
  gap: 30px;
}

.courses-section .course-cards {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.courses-section .course-cards img {
  width: 100%;
  border-radius: 24px;
  background:
    url(<path-to-image>),
    lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.courses-section .course-card {
  display: grid;
  border-radius: 24px;
  background: #fff;
  padding: 0px 32px;
  margin: 20px;
}

.background-body {
  background: linear-gradient(180deg, #fff 0%, #f0f1ff 100%);
}

.flex-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: auto;
  /* background: linear-gradient(180deg, #fff 0%, #f0f1ff 100%); */
  margin: 0 auto;
  max-width: 1440px;
}

.flex-box {
  width: 350px;
  height: 322px;
  /* min-width: 350px;
  min-height: 322px; */
  margin: 20px;
}

.border15 {
  border-radius: 15px;
}

.flex-box-red {
  /* width: 350px;
  height: 322px; */
  margin: 20px;
  border-radius: 15px;
}
